<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Log In</h1>
<form th:action="@{/login}" method="post">
  <div>
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">Log In</button>
  </div>
  <div th:if="${error}">
    <p th:text="${error}" style="color:red;"></p>
  </div>
  <div th:if="${msg}">
    <p th:text="${msg}" style="color:green;"></p>
  </div>
</form>
<p>Don't have an account? <a th:href="@{/register}">Register</a></p>
</body>
</html>
